@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0px;
}

* {
  box-sizing: border-box;
}

.Toastify__toast-container {
  z-index: 9999999999999999999999999 !important;
  position: fixed !important;
}
