@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0px;
}

* {
  box-sizing: border-box;
}
.modal::before {
  z-index: 0 !important; /* o display: none; si no lo necesitas */
}
#__react-hot-toast,
[data-sonner-toaster] {
  position: fixed !important;
  z-index: 2147483647 !important; /* siempre arriba de todo */
}
