.heart-shape {
  width: 150px;
  height: 150px;
  background-color: red;
  position: relative;
  transform: rotate(-45deg);
  margin: 50px;
}

.heart-shape::before,
.heart-shape::after {
  content: "";
  width: 150px;
  height: 150px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
}

.heart-shape::before {
  top: 0;
  left: 50px;
}

.heart-shape::after {
  top: -50px;
  left: 0;
}

.bone-shape {
  width: 200px;
  height: 90px;
  background-color: #d3bda7;
  border-radius: 25px;
  position: relative;
  margin: 50px;
}

.bone-shape::before,
.bone-shape::after {
  content: "";
  width: 80px;
  height: 80px;
  background-color: #d3bda7;
  border-radius: 50%;
  position: absolute;
}

.bone-shape::before {
  top: -25px;
  left: -25px;
}

.bone-shape::after {
  top: -25px;
  right: -25px;
}

.bone-shape .bottom-circle-left,
.bone-shape .bottom-circle-right {
  content: "";
  width: 80px;
  height: 80px;
  background-color: #d3bda7;
  border-radius: 50%;
  position: absolute;
}

.bone-shape .bottom-circle-left {
  bottom: -25px;
  left: -25px;
}

.bone-shape .bottom-circle-right {
  bottom: -25px;
  right: -25px;
}

@font-face {
  font-family: "chapFont";
  /* src: url("../public/fonts/Super\ Cottage.ttf") format("truetype"); */
  src: url("/fonts/Super%20Cottage.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@keyframes glowBounce {
  0%,
  100% {
    transform: scale(1);
    box-shadow: 0 0 0px #34d399;
  }
  50% {
    transform: scale(1.08);
    box-shadow: 0 0 18px #34d399;
  }
}

.animate-glow {
  animation: glowBounce 2s ease-in-out infinite;
}

/* @font-face {
  font-family: "chapFont";
  src: url("/fonts/SuperCottage.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
} */
